/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px; /* Espacio entre el título y el calendario */
}

button.unavailable-dates {
  background-color: rgba(255, 0, 0, 0.5); /* Color para fechas reservadas (rojo) */
  border-radius: 100%;
}

button.available-dates {
  background-color: rgba(0, 255, 0, 0.5); /* Color para fechas no reservadas (verde) */
  border-radius: 100%;
}


/* ------------------------------------------------ */
/* Styles for payment methods */
/* ------------------------------------------------ */

.payment-methods {
  padding-top: 30%;
  text-align: center;
}

.payment-methods-card {
  display: flex; /* Hacer que las columnas se alineen horizontalmente */
  justify-content: space-around; /* Espacio entre las columnas */
  padding: 20px; /* Espacio interno de la tarjeta */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
  margin: 20px; /* Espacio externo alrededor de la tarjeta */
}

.column {
  flex: 1; /* Cada columna toma el mismo espacio */
  display: flex; /* Usar flexbox dentro de la columna */
  justify-content: center; /* Centrar el contenido dentro de la columna */
  align-items: center; /* Centrar verticalmente el contenido */
  margin: 0 10px; /* Espacio horizontal entre columnas */
  padding: 10px; /* Espacio interno dentro de cada columna */
  transition: transform 0.2s; /* Transición suave para efectos al pasar el mouse */
}

.column:hover {
  transform: scale(1.05); /* Aumentar el tamaño al pasar el mouse */
}

.column img {
  max-width: 100%; /* Hacer que las imágenes sean responsivas */
  height: auto; /* Mantener la proporción de las imágenes */
  border-radius: 5px; /* Bordes redondeados para las imágenes */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para las imágenes */
}


/* ------------------------------------------------ */
/* Centering the Datepicker Container */
/* ------------------------------------------------ */

.datepicker-container {
  display: flex;                /* Use Flexbox for alignment */
  justify-content: center;      /* Center horizontally */
  margin-top: 20px;            /* Optional: Add space above the date picker */
  width: 100%;                  /* Optional: Full width for the container */
}

mat-form-field {
  max-width: 300px;            /* Set a max width for the form field */
  width: 100%;                 /* Full width for the form field */
}

