<div class="header-container">
  <h2>{{house?.house_name}}</h2>
</div>

<div class="grid-container">
  <!-- Imagen de la casa a la izquierda -->
  <div class="house-image-container">
    <img [src]="house?.photo" alt="Casa de verano" class="house-image"/>
  </div>

  <!-- Información a la derecha de la imagen -->
  <div class="info-container">
    <mat-grid-list cols="1" rowHeight="auto" class="info-grid">
      <div class="grid-item">
        <mat-icon>home</mat-icon>
        <p> {{house?.price}}</p>
      </div>
      <div class="grid-item">
        <mat-icon>bed</mat-icon>
        <p><strong>{{house?.size}} DORMITORIOS</strong></p>
      </div>
      <div class="grid-item">
        <mat-icon>school</mat-icon>
        <p>{{house?.description}}</p>
      </div>
    </mat-grid-list>

    <!-- BUTTON TO SHOW PAYMENT OPTIONS -->
    <div class="actions">
      <button mat-raised-button color="primary" class="buy-button" (click)="onBuyButtonClick()">BUY</button>
    </div>

    <!-- PAYMENT OPTIONS - Visible only if showPaymentOptions is true -->
    <div *ngIf="showPaymentOptions" class="payment-options">
      <img src="https://i.postimg.cc/pVCyxJsL/image.png" alt="PayPal" class="payment-logo">
      <img src="https://i.postimg.cc/15zXzVdc/image.png" alt="BCP" class="payment-logo" (click)="goToPaymentConfirmationBCP()" style="cursor: pointer;">
    </div>
  </div>
</div>
