<!-- Reservation catalogue -->
<div class="table-wrapper">
  <h3>{{ 'title.reservations' | translate }}</h3>

  <!--Add/Edit Form-->
  <app-reservation-create-and-edit (editCanceled)="onCancelEdit()"
                               (reservationAdded)="onReservationAdded($event)"
                               (reservationUpdated)="onReservationUpdated($event)"
                               [editMode] = "isEditMode"
                               [reservation]="reservationData"/>
  <!-- Data Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
         matSort matSortActive="id" matSortDirection="asc">

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ 'reservation.id' | translate }} </th>
      <td *matCellDef="let element" mat-cell>{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="start_date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'reservation.start_date' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.start_date }}</td>
    </ng-container>

    <ng-container matColumnDef="end_date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'reservation.end_date' | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.end_date }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell> {{ 'reservation.actions' | translate }}</th>
      <td *matCellDef="let element" mat-cell>
        <a (click)="onEditItem(element)" href="javascript:void(0)"><mat-icon>edit</mat-icon></a>
        <a (click)="onDeleteItem(element)" href="javascript:void(0)"><mat-icon>delete</mat-icon></a>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns:displayedColumns" [ngClass]="{'editable-row': reservationData.id === row.id }" mat-row></tr>
  </table>
  <!-- Paginator child component-->
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
