.mat-stepper-vertical {
  margin-top: 8px;
  max-height: 80vh;
  overflow-y: auto;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
.stepper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 8px;
}

.mat-stepper-vertical{
  background: rgb(255, 255, 255);
}

