.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
.stepper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ajusta según sea necesario */

}

.mat-stepper-vertical{
  background: rgba(255, 255, 255, 0.29);
}

