<div class="stepper-container">
  <form [formGroup]="houseForm" (ngSubmit)="onSubmit()" >
    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <!-- Step 1: User Property Id -->
      <mat-step [stepControl]="houseForm.get('userPropertyIdCtrl')!" class="form-container">
        <ng-template matStepLabel>User Property Id</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>User ID</mat-label>
          <input matInput formControlName="userPropertyIdCtrl" required />
        </mat-form-field>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <!-- Step : House Name -->
      <mat-step [stepControl]="houseForm.get('houseNameCtrl')!">
        <ng-template matStepLabel>Name house</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>Nombre de la propiedad</mat-label>
          <input matInput formControlName="houseNameCtrl" required />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>

      </mat-step>
      <!-- Step : House Address -->
      <mat-step [stepControl]="houseForm.get('houseAddressCtrl')!">
        <ng-template matStepLabel>Address house</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="houseAddressCtrl" required />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <!-- Step : Tipo y Modalidad de la propiedad -->
      <mat-step [stepControl]="houseForm.get('houseTypeControl')!">
        <ng-template matStepLabel>House Type</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Type</mat-label>
          <mat-select formControlName="houseTypeControl" required>
            <mat-option *ngFor="let type of houseTyp" [value]="type.type">
              {{ type.type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <!--Step: House Modal-->
      <mat-step [stepControl]="houseForm.get('houseModalControl')!">
        <ng-template matStepLabel>House Modal</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Modal</mat-label>
          <mat-select formControlName="houseModalControl" required>
            <mat-option *ngFor="let modal of houseMod" [value]="modal.modal">
              {{ modal.modal }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <!-- Step : House Price -->
      <mat-step [stepControl]="houseForm.get('housePriceCtrl')!">
        <ng-template matStepLabel>House price</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>Price</mat-label>
          <input matInput formControlName="housePriceCtrl" type="number" required />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <!-- Step : House Size -->
      <mat-step [stepControl]="houseForm.get('houseSizeCtrl')!">
        <ng-template matStepLabel>House size</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>Size</mat-label>
          <input matInput formControlName="houseSizeCtrl" type="number" required />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <!-- Step : House Description -->
      <mat-step [stepControl]="houseForm.get('houseDescriptionCtrl')!">
        <ng-template matStepLabel>House Description</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="houseDescriptionCtrl" required></textarea>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <!-- Step : Calificación -->
      <mat-step [stepControl]="houseForm.get('startsCalificationControl')!">
        <ng-template matStepLabel>Starts Calification</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>N° Starts</mat-label>
          <mat-select formControlName="startsCalificationControl" required>
            <mat-option *ngFor="let starts of startCalification" [value]="starts.starts">
              {{ starts.starts }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <!-- Step : Status Landlord -->
      <mat-step [stepControl]="houseForm.get('statusLandlordControl')!">
        <ng-template matStepLabel>Status Landlord</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select formControlName="statusLandlordControl" required>
            <mat-option *ngFor="let status of statusLand" [value]="status.status">
              {{ status.status }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <!-- Step : House Image -->
      <mat-step [stepControl]="houseForm.get('houseImageCtrl')!">
        <ng-template matStepLabel>House Image</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>Image (URL)</mat-label>
          <input matInput formControlName="houseImageCtrl" type="url" required />
        </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
      </mat-step>
      <!-- Step : House Video -->
      <mat-step [stepControl]="houseForm.get('houseVideoCtrl')!">
        <ng-template matStepLabel>House Video</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>Video (URL)</mat-label>
          <input matInput formControlName="houseVideoCtrl" type="url" required />
        </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
      </mat-step>
      <!-- Step : Verification ID -->
      <mat-step [stepControl]="houseForm.get('verificationIdCtrl')!">
        <ng-template matStepLabel>Verification ID</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>ID </mat-label>
          <input matInput formControlName="verificationIdCtrl" required />
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button type="submit">Submit</button>
        </div>
      </mat-step>

    </mat-vertical-stepper>
  </form>
</div>
