<header>
  <h1>COMPRA Y ALQUILA CASAS</h1>
  <h2>ENCUENTRA TU PROXIMO HOGAR</h2>
</header>

<mat-tab-group class="tabs-container">
  <mat-tab label="COMPRAR" class="mat-tab" style="font-size: 5em;">
    <div class="content-container">
      <!-- Aquí puedes agregar el contenido de la sección "Comprar", como las tarjetas de casas -->
      <p>Contenido de la sección Comprar</p>
      <div class="container">
        <div class="house-cards"*ngIf="housesSale">
          <app-house-card *ngFor="let house of housesSale" [house]="house"></app-house-card>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="ALQUILAR" class="mat-tab">
    <div class="content-container">
      <!-- Aquí puedes agregar el contenido de la sección "Alquilar" -->
      <p>Contenido de la sección Alquilar</p>
      <div class="house-cards"*ngIf="housesRent">
        <app-house-card *ngFor="let house of housesRent" [house]="house"></app-house-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
