.mat-spacer {
  flex: 1 1 auto;
}
mat-sidenav {
  width: 200px;
  border-right: none;
  padding: 16px 0;
}
.content {
  min-height: 100%;
  max-height: auto;
  padding: 10px;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 16px;
  background: #EE7B10;
}

mat-sidenav-container {
  height: calc(100svh - 65px);
}
img {
  padding-right: 0.75rem;
}
mat-toolbar {
  background: linear-gradient(135deg, #2B2B2B, #4B4B4B); /* Ajusta los colores según sea necesario */
  color: white;
}

.mat-toolbar .mat-mdc-button-base {
  color: white;
  font-size: medium;
}
