/* payment-card.component.css */
.payment-card {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.payment-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilos para estado PENDING */
.payment-pending mat-card-header {
  background-color: #ffebee; /* Fondo suave rojo claro */
  border-bottom: 2px solid #d32f2f; /* Línea roja */
}

.payment-pending mat-card-title {
  color: #d32f2f; /* Rojo */
}

.payment-pending mat-card-subtitle {
  color: #f44336; /* Rojo intenso */
}

.payment-pending .payment-details {
  background-color: #ffebee; /* Fondo claro rojo */
  border: 1px solid #f44336; /* Borde rojo */
  margin: 20px;
}

.payment-pending mat-card-actions {
  background-color: #ffebee;
  border-top: 2px solid #d32f2f;
}

.payment-pending button.mat-button {
  background-color: #d32f2f;
  color: white;
}

.payment-pending button.mat-button:hover {
  background-color: #b71c1c;
}

/* Estilos para estado COMPLETED */
.payment-completed mat-card-header {
  background-color: #e8f5e9; /* Fondo verde suave */
  border-bottom: 2px solid #388e3c; /* Línea verde */
}

.payment-completed mat-card-title {
  color: #388e3c; /* Verde */
}

.payment-completed mat-card-subtitle {
  color: #43a047; /* Verde claro */
}

.payment-completed .payment-details {
  background-color: #e8f5e9; /* Fondo verde claro */
  border: 1px solid #43a047; /* Borde verde */
  margin: 20px;
}

.payment-completed mat-card-actions {
  background-color: #e8f5e9;
  border-top: 2px solid #388e3c;
}

.payment-completed button.mat-button {
  background-color: #388e3c;
  color: white;
}

.payment-completed button.mat-button:hover {
  background-color: #2c6f2e;
}
