.form-section {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-row {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

mat-form-field {
  width: 100%;
}

/* Estilos para pantallas pequeñas (hasta 320px) */
@media screen and (max-width: 320px) {
  .form-section {
    padding: 10px;
  }

  .form-row {
    max-width: 300px; /* El formulario será más estrecho en pantallas pequeñas */
  }

  button {
    width: 100%; /* Los botones ocuparán todo el ancho del formulario */
  }
}

/* Estilos para pantallas pequeñas (321px - 768px) */
@media screen and (min-width: 321px) and (max-width: 768px) {
  .form-section {
    padding: 15px;
  }

  .form-row {
    max-width: 400px; /* Ancho intermedio para tablets y teléfonos más grandes */
  }

  button {
    width: 100%; /* Los botones seguirán ocupando todo el ancho en pantallas pequeñas */
  }
}

/* Estilos para pantallas medianas (769px - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .form-row {
    max-width: 450px; /* El formulario ocupará más espacio en pantallas medianas */
  }

  button {
    width: auto; /* Los botones serán de ancho automático en pantallas medianas */
  }
}

/* Estilos para pantallas grandes (1025px en adelante) */
@media screen and (min-width: 1025px) {
  .form-row {
    max-width: 500px; /* Ancho máximo para pantallas grandes */
  }

  button {
    width: auto; /* Los botones mantendrán su tamaño natural en pantallas grandes */
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Estilos para el titulo del formulario */

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

h4 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333; /* Ajusta el color según el tema */
}

/* Estilos para pantallas pequeñas (hasta 320px) */
@media screen and (max-width: 320px) {
  h4 {
    font-size: 18px; /* Reduce el tamaño del texto en pantallas muy pequeñas */
    margin-bottom: 15px;
  }
}

/* Estilos para pantallas pequeñas (321px - 768px) */
@media screen and (min-width: 321px) and (max-width: 768px) {
  h4 {
    font-size: 20px; /* Tamaño intermedio para pantallas pequeñas y tablets */
    margin-bottom: 18px;
  }
}

/* Estilos para pantallas medianas (769px - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h4 {
    font-size: 22px; /* Tamaño de fuente un poco más grande para pantallas medianas */
    margin-bottom: 20px;
  }
}

/* Estilos para pantallas grandes (1025px en adelante) */
@media screen and (min-width: 1025px) {
  h4 {
    font-size: 24px; /* Tamaño más grande en pantallas grandes */
    margin-bottom: 25px;
  }
}

