<div class="header-container">
  <h1>Lista de Pagos</h1>
</div>

<mat-card *ngIf="payments.length > 0">
  <mat-card-content>
    <table mat-table [dataSource]="payments" class="mat-elevation-z8">
      <ng-container matColumnDef="paymentId">
        <th mat-header-cell *matHeaderCellDef> ID de Pago </th>
        <td mat-cell *matCellDef="let payment"> {{ payment.paymentId }} </td>
      </ng-container>

      <ng-container matColumnDef="buyerName">
        <th mat-header-cell *matHeaderCellDef> Nombre del Comprador </th>
        <td mat-cell *matCellDef="let payment"> {{ payment.buyerName }} </td>
      </ng-container>

      <ng-container matColumnDef="amountSale">
        <th mat-header-cell *matHeaderCellDef> Monto de la Venta </th>
        <td mat-cell *matCellDef="let payment"> {{ payment.amountSale }} </td>
      </ng-container>

      <ng-container matColumnDef="bank">
        <th mat-header-cell *matHeaderCellDef> Banco </th>
        <td mat-cell *matCellDef="let payment"> {{ payment.bank }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['paymentId', 'buyerName', 'amountSale', 'bank']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['paymentId', 'buyerName', 'amountSale', 'bank'];"></tr>
    </table>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="payments.length === 0">
  <mat-card-content>
    <p>No hay pagos disponibles.</p>
  </mat-card-content>
</mat-card>
