<div class="container">
  <h2>Datos del Contrato</h2>
  <form [formGroup]="contractForm" (ngSubmit)="generateContract()">
    <div class="form-group">
      <label for="property">Propiedad</label>
      <select id="property" class="form-control" formControlName="property">
        <option *ngFor="let property of properties" [ngValue]="property">{{property.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="tenant">Inquilino</label>
      <input id="tenant" type="text" class="form-control" formControlName="tenant" placeholder="Nombre del inquilino" readonly>
    </div>

    <div class="form-group" *ngIf="contractForm.get('property')?.value?.house_modality === 'rental'">
      <label for="startDate">Fecha de inicio</label>
      <input id="startDate" type="date" class="form-control" formControlName="startDate">
    </div>

    <div class="form-group" *ngIf="contractForm.get('property')?.value?.house_modality === 'rental'">
      <label for="endDate">Fecha de fin</label>
      <input id="endDate" type="date" class="form-control" formControlName="endDate">
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" formControlName="termsAgreed" />
        Acepto los términos y condiciones
      </label>
    </div>


    <div class="form-actions">
      <button type="submit" class="btn btn-generate" (click)="generateContract()">
        Generar Contrato
      </button>
      <button type="button" class="btn btn-cancel" (click)="cancelContract()">
        Cancelar Contrato
      </button>
    </div>
  </form>
</div>


