<div>
  <h2>{{ isEditMode ? ('FEEDBACK.EDIT_FEEDBACK' | translate) : ('FEEDBACK.CREATE_NEW_FEEDBACK' | translate) }}</h2>
  <form (ngSubmit)="saveFeedback()">
    <mat-form-field>
      <input matInput [placeholder]="'FORM.PLACEHOLDER_HOUSE_NAME' | translate" [(ngModel)]="feedback.house_name" name="houseName" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput [placeholder]="'FORM.PLACEHOLDER_ADDRESS' | translate" [(ngModel)]="feedback.address" name="address" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput [placeholder]="'FORM.PLACEHOLDER_SCORE' | translate" [(ngModel)]="feedback.score" name="score" type="number" required>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [placeholder]="'FORM.PLACEHOLDER_COMMENTS' | translate" [(ngModel)]="feedback.comments" name="comments"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      {{ isEditMode ? ('BUTTONS.SAVE' | translate) : ('BUTTONS.SAVE' | translate) }}
    </button>
  </form>
</div>

