/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/cyan-orange.css';
html, body {
  height: 100%;
  background-color: #EE7B10 ;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container{
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.btn-generate {
  background-color: #FFA500; /* Naranja */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-generate:hover {
  background-color: #FF8C00; /* Naranja oscuro */
}

.btn-cancel {
  background-color: #DC3545; /* Rojo */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-cancel:hover {
  background-color: #C82333; /* Rojo oscuro */
}

